.catagory{
    height: 300px;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.catagory img{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;

}
.catagory a{
    text-decoration: none;
    color: rgba(35,35,35);
}
.catagory h2,
.catagory p{
    padding: 5px;
    margin-left: 15px;
}
.catagory p{
    font-size: 14px;
    font-weight: bold;
    color: blueviolet;
}


.catagory_container{
position: relative;
margin-top: -10%;
display: grid;
grid-template-columns: repeat(4,1fr);
place-items: center;
}